<p id="notice"><%= notice %></p>

<p>
  	<strong>Username: </strong><%= @user.username %><br>  
    <strong>Number of ratings: </strong><%= @user.ratings.count %><br>
    <strong>Ratings average: </strong><%= @user.average_rating %><br>
  	<strong><% unless @user.ratings.empty? %> Favorite style: </strong><%= @user.favorite_style %><% end %><br>
    <strong><% unless @user.ratings.empty? %> Favorite brewery: </strong><%= @user.favorite_brewery %><% end %><br>      
    <strong><% unless @user.ratings.empty? %> Favorite beer: </strong><%= @user.favorite_beer %><% end %><br>

<p>
  <% if @user.ratings.empty? %>
    Beer has not yet been rated!
  <% else %>
    Has <%= pluralize(@user.ratings.count, 'rating') %>, average <%= @user.average_rating %>
  <% end %>
</p>
  <strong>Ratings:</strong>
  <ul>
  <% unless @user.ratings.empty? %> 
    <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
    <% end %>
  <% end %>
  </ul>

</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', users_path %>
