<p id="notice"><%= notice %></p>

<p>
  <h2><%= @place.name %> (<%= @place.status %>)<br></h2>
  <strong>Address:</strong><%= @place.street %>, <%= @place.city %><br>
  <strong>Phone:</strong><%= @place.phone %><br>  
</p>

<p>
<iframe width="400" height="400" src="<%= (@place.blogmap) %>"></iframe>
</p>


